body{
background-position: center;
background-size: cover;
}

.heading{
    width: 100%;
    text-align: left;
margin-bottom: 5px;
}
.heading h3{
display: inline;
font-size: 22px;
}
.heading button{
float:right;
}
#canvas{
border: 2px solid black;
bottom: 3;
background-color: white;
width: 400px;
height: 400px;

}
.fotter{
    width: 100%;
    bottom: 0px;
    position: fixed;
    text-align: center;
    background-color: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
    font-size: 20px;
}